<div class="row mt-4">
    <div class="col">
        <p>Filtrado por nombre:</p>
        <input class="form-control" placeholder="Introduce el nombre de la asignatura" #inputNombre>
    </div>
    <div class="col">
        <p>Filtrado por ciclo:</p>
        <input class="form-control" placeholder="Introduce ciclo" #inputCiclo>
    </div>
    <div class="col">
        <p>Filtrado por conocimiento:</p>
        <input class="form-control" placeholder="Introduce nombre de conocimiento" #inputConocimiento>
    </div>

</div>
<div class="row mt-4">
    <button type="button" class="btn btn-primary col" (click)="cargarArrayAsignatura(inputNombre.value,inputCiclo.value,inputConocimiento.value)">Filtrar</button>
</div>

<h2 class="mt-4">Los resultados de búsqueda son:</h2>
<div class="alert alert-primary mt-4" role="alert">
    El número de asignaturas que cumplen el filtro es de: {{asignaturasFiltradas.length}}
  </div>

<div class="row">
    <div class="col" *ngFor="let item of asignaturasFiltradas">
      <app-asignatura [asignatura]="item"></app-asignatura>
    </div>
  </div>

